@tailwind base;
@tailwind components;
@tailwind utilities;

.notSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (prefers-color-scheme: dark) {
    body {
        background: black;
    }
}

.background-gradient{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

