@tailwind base;
@tailwind components;
@tailwind utilities;

.notSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (prefers-color-scheme: dark) {
    body {
        background: black;
    }
}

.background-hero{
    /*background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);*/
    background-image: url("../../public/assets/hero/bg.jpg");
    background-size: cover;
}
.reveal.first{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.second{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.third{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 3s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
